body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


header
{
    background-color: rgba(231, 231, 231, 0.945);
    height: 15vh;   
    padding: 10px;
}


h1
{
    padding: 10px;
    margin: 10px;
    justify-content: flex-start;
}


.title1
{
    color: #20a8b4;
}


.title2
{
    color: #ff5c0f;
}


.nav
{
    font-size: 18px;
    float: right;
    margin: -20px;
    padding-left: -20%;
    margin-right: 3%;    
   
}

ul
{
    flex-direction: column;
    display: flex;  
   
}


.nav li
{ 
    display: inline-block;  
    
}    

.nav li a
{
    color: #000;
    text-decoration: none;
    padding: 10px;     
}

ul li a:hover
{
    color: #ff5c0f;
}

.logo
{
    width: 400px;
    float: right;  
    padding: 50px;
    display: none;
    margin-left: -35%;  
   
}

.body
{
    position: absolute;
    top: 40%;
    font-size: 25px;
    margin-left: 20px;
}


.title4
{
    color: #000;   
}

.title5
{
    color: #ff5c0f; 
}


h3
{   
    font-size: 18px;      
}   


button
{
    background-color: #20a8b4;     
    border-radius: 10%;
    width: 100%;    
    padding: 8px;
}

button:hover
{
    background-color: #ff5c0f;  
}


@media screen and (min-width: 768px) {
    ul {
        flex-direction: row;   
        display: inline;
    }
  }  

    .logo 
    {
        display: flex;
    }


    .body 
    {
        align-items: auto;
    }


    button 
    {
        width: auto;
    }




  














  

