body
{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}


header
{
    background-color: rgba(231, 231, 231, 0.945);
    margin: 1px;
    height: 25vh;   
}


h1
{
    padding: 10px;
    margin: 10px;
    justify-content: flex-start;
}


.title1
{
    color: #20a8b4;
}


.title2
{
    color: #ff5c0f;
}


.nav
{
    justify-content: space-between;      
}

ul
{
    flex-direction: column;
    float: right;
}


.nav li
{
    display: flex;
    display: inline-block;
}    

.nav li a
{
    color: #000;
    text-decoration: none;
    padding: 5px;   
}

.title3 a
{
    text-decoration: none;
    color: #000;  
}

.title3 a:hover
{
    background-color: #ff5c0f;
    width: 100%;
}

ul li a:hover
{
    color: #ff5c0f;
}

.logo
{
    width: 500px;
    float: right;  
    padding: 40px;
    display: none;
    
}

.body
{
    position: absolute;
    top: 50%;
    font-size: 25px;
    align-items: flex-start;
    justify-content: space-between;  
}

h4
{
    margin-left: 20px;
    height: 20px;   
}



.title4
{
    color: #000;   
}

.title5
{
    color: #ff5c0f; 
}


h3
{
    margin-left: 20px;
    height: 70px;
    font-size: 15px;   
}   

.title6 a
{
    text-decoration: none;
    color: #000;
    height: 20px;
}

.title6 a:hover
{
    background-color: #ff5c0f;  
}

button
{
    background-color: #20a8b4;     
    border-radius: 7px;
    width: 100%;
    margin-left: 20px;
}



@media screen and (min-width: 480px) {
    ul {
        flex-direction: row;
    }
  }

    .logo {
        display: flex;
    }


    .body {
        align-items: flex-end;
    }


    button {
        width: auto;
    }



  














  

